* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: darkblue;
    --secondary-color: #eee;
    --text-color: #333;
    --link-color: white;
    --border-color: black;
    --shadow-color: gray;
    --padding-standard: 1rem;
    --padding-small: 10px;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-small);
}

nav a {
    color: var(--link-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

main {
    max-width: 640px;
}

aside {
    width: 20rem;
    margin: var(--padding-standard);
    position: relative;

}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selector */

box {
    border: 1px solid #b71234;
    padding: 1em;
    background-color: #cccaca;
    color: #1a044e;
    margin: 1rem;
}